extends ../layout/index

block  content 
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes     
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= page 

        div.mt-8.mx-auto.max-w-md
            .bg-withe.py-8.px-4.shadow
                form(action="").space-y-5
                    div     
                        label(for="nombre").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Name
                        input(placeholder="Name" type="text" name="nombre")#nombre.w-full.px-3.py-2.border.border-gray-600.rounded-md.placeholder-gray-800
                    div     
                        label(for="email").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Email
                        input(placeholder="Email" type="email" name="email")#email.w-full.px-3.py-2.border.border-gray-600.rounded-md.placeholder-gray-800    
                    div     
                        label(for="password").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Password
                        input(placeholder="Password" type="password" name="password")#password.w-full.px-3.py-2.border.border-gray-600.rounded-md.placeholder-gray-800
                    div     
                        label(for="repeatedPassword").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Repeat Password
                        input(placeholder="Password" type="password" name="repeatedPassword")#repeatedPassword.w-full.px-3.py-2.border.border-gray-600.rounded-md.placeholder-gray-800    
                    
                    input(class ="w-full bg-red-600  hover:bg-pink-700 font-bold py-3 cursor-pointer" type="submit" value = "Create account")